

body {
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.col_dir {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Naslov */
.header-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.title-glow {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
}

.white { color: #fff; background-color: #000000;}
.black { color: #000000; }


.stats-panel {
    display: flex;
    gap: 40px;
    background: var(--glass-bg);
    padding: 15px 40px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 0.8rem;
    color: #000000;
    letter-spacing: 2px;
}

.value {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.lives-container {
    display: flex;
    gap: 8px;
    margin-top: 5px;
    height: 25px;
    align-items: center;
}

.life-icon {
    width: 40px;
}


.canvas-wrapper {
    border: 4px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

canvas {
    display: block;
    background-image: url("../images/canvasbg.jpg");
    background-size: cover;
}

#level-display {
    margin-top: 20px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.249);
    padding: 5px 20px;
    border-radius: 10px;
}